@ -1,80 +1,540 @@
# Created by https://www.toptal.com/developers/gitignore/api/csharp,node
# Edit at https://www.toptal.com/developers/gitignore?templates=csharp,node

GestãoArmazénsTests/bin
GestãoArmazénsTests/obj
Gestão Armazém/.vscode
Gestão Armazém/bin
Gestão Armazém/obj
GestãoArmazénsTests/.vscode