
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
*.cache
Gestão Armazém/bin/Debug/netcoreapp6.0/DDDNetCore.dll
Gestão Armazém/bin/Debug/netcoreapp6.0/DDDNetCore.exe
Gestão Armazém/bin/Debug/netcoreapp6.0/DDDNetCore.pdb
Gestão Armazém/obj/DDDNetCore.csproj.nuget.dgspec.json
Gestão Armazém/obj/DDDNetCore.csproj.nuget.g.props
Gestão Armazém/obj/Debug/netcoreapp6.0/apphost.exe
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.AssemblyReference.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.CoreCompileInputs.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.FileListAbsolute.txt
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.dll
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.GeneratedMSBuildEditorConfig.editorconfig
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.genruntimeconfig.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.pdb
Gestão Armazém/obj/Debug/netcoreapp6.0/project.razor.json
Gestão Armazém/obj/Debug/netcoreapp6.0/ref/DDDNetCore.dll
Gestão Armazém/obj/Debug/netcoreapp6.0/refint/DDDNetCore.dll
Gestão Armazém/obj/project.assets.json
Gestão Armazém/obj/project.nuget.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
