<div id="navLista">
    <div id="GestaoCamioes">
        
        <button id="GestaoCamioesButton">
            <i class='bx bxs-truck'></i>
            Gestão de Camiões</button>

            <div class="item_div">
                <!--<a href="/adiconarCamiao">Adicionar Camião</a>-->
                <button class = "button" routerLink="/adicionarCamiao">Adicionar Camião</button>
                <!--<li><a href="#" [routerLink]="['/adicionarCamiao']">Adicionar Camião</a></li>-->
                <br>
                <button class = "button" [routerLink]="['/adicionarCamiao']">Listar Camiões</button>
                <!--<a href="#">Listar Camiões</a>-->
            </div>
            
    
    
        </div> 
        
    <div id="GestaoArmazens">
                
        <button id="GestaoArmazensButton">
            <i class='bx bxs-building'></i>
            Gestão de Camiões</button>

            <div class="item_div">
                <!--<a href="/adiconarCamiao">Adicionar Camião</a>-->
                <button class = "button" routerLink="/adicionarArmazem">Adicionar Armazém</button>
                <!--<li><a href="#" [routerLink]="['/adicionarCamiao']">Adicionar Camião</a></li>-->
                <br>
                <button class = "button" [routerLink]="['/adicionarArmazem']">Listar Armazém</button>
                <!--<a href="#">Listar Camiões</a>-->
            </div>
            
    
    
    </div>
    <div id="GestaoDeEntregas">
        <button id="GestaoCamioesButton">
            <i class='bx bx-package'></i>
            Gestão de Entregas</button>
        
        <div class="item_div">
            <!--<a href="/adiconarCamiao">Adicionar Camião</a>-->
            <button class = "button" routerLink="/adicionarEntrega">Adicionar Entrega</button>
            <!--<li><a href="#" [routerLink]="['/adicionarCamiao']">Adicionar Camião</a></li>-->
            <br>
            <button class = "button" [routerLink]="['/adicionarEntrega']">Listar Entregas</button>
            <!--<a href="#">Listar Camiões</a>-->
        </div>
    </div>
    <div id="GestaoDePercursos">
        
    </div>
    
</div>



