<div class="sidebar">
  <div class="logo-details">
  <i class='bx bxs-business'></i>
  <span class="logo_name">Eletric Go</span>
  <div>
    <app-menu-navegacao></app-menu-navegacao>
  </div>
  
</div>
</div>

<div class = "imagem"></div>





<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="app.component.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <body>
  <div class="sidebar">
    <div class = "close">
    <div class="logo-details">
      <i class='bx bxs-business'></i>
      <span class="logo_name">Eletric Go</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Gestão de Camiões</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-truck'></i>
            <span class="link_name">Gestão de Camiões</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Gestão de Camiões</a></li>
          <li><a href="#">Adicionar Camião</a></li>
          <li><a href="#">Listar Camiões</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-building'></i>
            <span class="link_name">Gestão de Armazéns</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Gestão de Armazéns</a></li>
          <li><a href="#">Adicionar Armazém </a></li>
          <li><a href="#">Listar Armazéns</a></li>
        </ul>
      </li>
      <li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-package'></i>
            <span class="link_name">Gestão De Entregas</span>
          </a>
         <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Gestão De Entregas</a></li>
          <li><a href="#">Adicionar Entrega</a></li>
          <li><a href="#">Listar Entregas</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-trip'></i>
            <span class="link_name">Gestão De Percursos</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Gestão De Percursos</a></li>
          <li><a href="#">Adicionar Percurso</a></li>
          <li><a href="#">Listar Percursos</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="link_name">Definições</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Definições</a></li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
  
          </div>
          <div class="name-job">
            <div class="profile_name">3DA_Grupo_02</div>
            <div class="job">Web Designer</div>
          </div>
          <i class='bx bx-log-out'></i>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <span class="text"></span>
    </div>
  </section>
  
  <script>
    let arrow = document.querySelectorAll("arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e) => {
        let arrowParent = e.target.arrowParent;//selecting main parent of arrow
        arrowParent.classList.toggle("showMenu");
      });
    }
   let sidebar = document.querySelector(".sidebar .close");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });
  </script>

</body>


</html> -->